<%
    @Page_Title = "Stores for #{@retailer.name}"
%>
<%= @state.name unless @store.nil? -%> 
<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
    <% @stores.each do |store| %>
        <tr>
            <th scope="row"><%= store['_source']['name'] %></th>
            <td><%= store['_source']['address'] %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<ul>
<% (1..@pages+1).each do |page_num|%>
    <li><%= link_to_unless_current page_num, retailer_stores_path(page: page_num) %></li>
<% end %>
</ul>
<% @aggregations.each do |agg_key, agg_results| %>
    <% if agg_results['buckets'].size > 1 && !agg_results['buckets'].nil? %>
        <h2 class="h2"><%= agg_key.titlecase %></h2>
        <ul>
        <% agg_results['buckets'].each do |bucket_kv_pair| %>
            <li>
            <% if agg_key == 'states' 
                state_name, state_code = bucket_kv_pair['key'].split(';')
            %>
    
                <%= link_to_unless_current ("%s (%d)" % [state_name, bucket_kv_pair['doc_count']]), retailer_stores_by_state_path( state_code: state_code) %>
            <% else %>
                <%= "%s (%d)" % [bucket_kv_pair['key'], bucket_kv_pair['doc_count']] %>
            <% end %>
            </li>
        <% end %>
        </ul>
    <% end %>
<% end %>