<!DOCTYPE html>
<html>
  <head>
    <title>GraetersV2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">Heading</div>
      </div>
    </div>
    <%= yield %>
  </body>
  <%= javascript_importmap_tags %>
</html>
